@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.root{
  font-family: "Inter", "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
}